In [7]:
import pandas as pd
from matplotlib import pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [5]:
df = pd.read_excel('MultipleVariable.xlsx')
df

    Distance  Price  Year
0         10    100     1
1         20    200     2
2         30    300     3
3         40    400     4
4         50    450     5
5         60    540     6
6         70    600     7
7         73    670     8
8         75    700     9
9         85    820    10
10        89    910    11
11        90    915    12
12        95    940    13
13        99   1000    14

In [21]:
X = df[['Distance', 'Year']]
y = df['Price']

In [28]:
x

    Distance  Year
0         10     1
1         20     2
2         30     3
3         40     4
4         50     5
5         60     6
6         70     7
7         73     8
8         75     9
9         85    10
10        89    11
11        90    12
12        95    13
13        99    14

In [29]:
y

0      100
1      200
2      300
3      400
4      450
5      540
6      600
7      670
8      700
9      820
10     910
11     915
12     940
13    1000
Name: Price, dtype: int64

In [35]:
x_train, x_test, y_train, y_test = train_test_split(X, y, train_size=0.7)
reg = LinearRegression()
reg

LinearRegression()

In [36]:
x_train

    Distance  Year
3         40     4
12        95    13
4         50     5
8         75     9
5         60     6
2         30     3
0         10     1
7         73     8
11        90    12

In [37]:
x_test

    Distance  Year
9         85    10
1         20     2
6         70     7
13        99    14
10        89    11

In [38]:
y_train

3     400
12    940
4     450
8     700
5     540
2     300
0     100
7     670
11    915
Name: Price, dtype: int64

In [39]:
y_test

9      820
1      200
6      600
13    1000
10     910
Name: Price, dtype: int64

In [40]:
reg.fit(x_train, y_train)

LinearRegression()

In [42]:
reg.predict([[85, 6]])

/home/irfan/.local/lib/python3.11/site-packages/sklearn/base.py:420: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([677.34644555])

In [43]:
reg.coef_

array([ 5.37471327, 31.36608576])

In [44]:
reg.intercept_

32.2993034063885

In [45]:
85*5.37471327 + 6*31.36608576 + 32.2993034063885

677.3464459163885

In [47]:
reg.score(X, y)

0.9942742138564398